.select-box {
  display: flex;
  flex-direction: column
}

.select-box label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1d190f;
  margin-bottom: 5px
}

.select-box select {
  width: 100%
}

.select-box .info-box {
  margin: 4px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #95938f
}

.select-box .box-border-bottom {
  position: relative
}

.select-box .box-border-bottom:after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e4e3df
}
.select-box .choices {
  position: relative;
  margin-bottom: 24px;
  font-size: 16px
}

.select-box .choices:focus {
  outline: 0
}

.select-box .choices:last-child {
  margin-bottom: 0
}

.select-box .choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.select-box .choices.is-disabled .choices__item {
  cursor: not-allowed
}

.select-box .choices [hidden] {
  display: none !important
}

.select-box .choices[data-type*=select-one] {
  cursor: pointer
}

.select-box .choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px
}

.select-box .choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0
}

.select-box .choices[data-type*=select-one] .choices__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: .5
}

.select-box .choices[data-type*=select-one] .choices__button:focus, .choices[data-type*=select-one] .choices__button:hover {
  opacity: 1
}

.select-box .choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4
}

.select-box .choices[data-type*=select-one] .choices__item[data-value=''] .choices__button {
  display: none
}

.select-box .choices[data-type*=select-one]:after {
  content: '';
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none
}

.select-box .choices[data-type*=select-one].is-open:after {
  border-color: transparent transparent #333;
  margin-top: -7.5px
}

.select-box .choices[data-type*=select-one][dir=rtl]:after {
  left: 11.5px;
  right: auto
}

.select-box .choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0
}

.select-box .choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner {
  cursor: text
}

.select-box .choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin: 0 -4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: .75;
  border-radius: 0
}

.select-box .choices[data-type*=select-multiple] .choices__button:focus, .choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=text] .choices__button:focus, .choices[data-type*=text] .choices__button:hover {
  opacity: 1
}

.select-box .choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden
}

.select-box .is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7
}

.select-box .is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0
}

.select-box .is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px
}

.select-box .choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none
}

.select-box .choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%
}

.select-box [dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px
}

.select-box .choices__list--single .choices__item {
  width: 100%
}

.select-box .choices__list--multiple {
  display: inline
}

.select-box .choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box
}

.select-box .choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px
}

.select-box [dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px
}

.select-box .choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1
}

.select-box .is-disabled .choices__list--multiple .choices__item {
  background-color: #aaa;
  border: 1px solid #919191
}

.select-box .choices__list--dropdown {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility
}

.select-box .choices__list--dropdown.is-active {
  visibility: visible
}

.select-box .is-open .choices__list--dropdown {
  border-color: #b7b7b7
}

.select-box .is-flipped .choices__list--dropdown {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0
}

.select-box .choices__list--dropdown .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position
}

.select-box .choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px
}

.select-box [dir=rtl] .choices__list--dropdown .choices__item {
  text-align: right
}

@media (min-width: 640px) {
  .select-box .choices__list--dropdown .choices__item--selectable {
    padding-right: 100px
  }

  .select-box .choices__list--dropdown .choices__item--selectable:after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
  }

  .select-box [dir=rtl] .choices__list--dropdown .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px
  }

  .select-box [dir=rtl] .choices__list--dropdown .choices__item--selectable:after {
    right: auto;
    left: 10px
  }
}

.select-box .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2
}

.select-box .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  opacity: .5
}

.select-box .choices__item {
  cursor: default
}

.select-box .choices__item--selectable {
  cursor: pointer
}

.select-box .choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .5
}

.select-box .choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray
}

.select-box .choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer
}

.select-box .choices__button:focus, .choices__input:focus {
  outline: 0
}

.select-box .choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px
}

.select-box [dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0
}

.select-box .choices__placeholder {
  opacity: .5
}

/* TODO */
.select-box .item-done {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 15px;
  height: 90px;
  background-color: #fff;
  border: 2px solid #e4e3df;
  border-radius: 4px
}

.select-box .item-done.disabled {
  background: #f9f6f2
}

.select-box .item-done:last-child {
  margin-bottom: 0
}

.select-box .item-done .left,
.select-box .item-done .right {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.select-box .item-done .left .title-item {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #1d190f
}

.select-box .form-new-item {
  padding: 25px 0;
  background-color: #fff;
  border: 2px solid #e4e3df
}

.select-box .form-new-item .top-logo {
  margin: 0 auto 25px;
  padding-bottom: 15px;
  width: calc(100% - 50px);
  position: relative
}

.select-box .form-new-item .top-logo:after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e4e3df
}

.select-box .form-new-item .top {
  padding: 0 25px
}

.select-box .form-new-item .bottom {
  padding: 0 25px;
  position: relative
}

.select-box .form-new-item .bottom:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e4e3df
}

.select-box .form-new-item .subtitle-form {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #1d190f
}

.select-box .choices__inner {
  padding: 3.5px 7.5px 1.75px;
  min-height: 40px
}

.select-box .upload-text {
  display: flex;
  flex-direction: column
}

.select-box .selects-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between
}

.select-box .selects-box .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500
}

.select-box .selects-box .clear {
  color: #95938f;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  font-weight: 400
}

.select-box .selects-box .clear img {
  display: block;
  margin-right: 4px
}

.select-box .select-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%
}

.select-box .select-wrap:not(:last-of-type):after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 8px);
  left: 13.5px;
  height: 28.5px;
  width: 1px;
  background-color: #95938f
}

.select-box .select-wrap .choices {
  margin-bottom: 8px
}

.select-box .select-wrap.is-disabled {
  pointer-events: none;
  opacity: .8
}

.select-box .select-wrap[name=category_1] {
  margin-left: 0;
  width: 100%
}

.select-box .select-wrap[name=category_1]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .select-wrap[name=category_2] {
  margin-left: 27px;
  width: calc(100% - 27px)
}

.select-box .select-wrap[name=category_2]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .select-wrap[name=category_3] {
  margin-left: 54px;
  width: calc(100% - 54px)
}

.select-box .select-wrap[name=category_3]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .select-wrap[name=category_4] {
  margin-left: 81px;
  width: calc(100% - 81px)
}

.select-box .select-wrap[name=category_4]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .select-wrap[name=category_5] {
  margin-left: 108px;
  width: calc(100% - 108px)
}

.select-box .select-wrap[name=category_5]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .select-wrap[name=category_6] {
  margin-left: 135px;
  width: calc(100% - 135px)
}

.select-box .select-wrap[name=category_6]:not(:first-of-type):before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  left: -13.5px;
  height: 1px;
  width: 13.5px;
  background-color: #95938f
}

.select-box .choices {
  color: #000
}

.select-box * {
  box-sizing: border-box;
}