.select-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: flex-end;
  position: relative;
}

.select-box .select-check.MuiAutocomplete-root:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: 23.5px;
  height: 51.5px;
  width: 1px;
  background-color: #95938f;
}

.select-box .select-sub.MuiAutocomplete-root:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 37px);
  left: 24px;
  height: 1px;
  width: 30px;
  background-color: #95938f;
}
