.select-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: flex-end;
  position: relative;
}
.aspect-title {
  margin-top: 20px;
  width: 100%;
}
.aspect-box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  width: 100%;
  /* align-items: flex-end; */
  /* position: relative; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.select-box .select-check.MuiAutocomplete-root:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: 23.5px;
  height: 51.5px;
  width: 1px;
  background-color: #95938f;
}

.select-box .select-sub.MuiAutocomplete-root:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 37px);
  left: 24px;
  height: 1px;
  width: 30px;
  background-color: #95938f;
}
