.container-m {
  width: 50%;
  min-width: 650px;
  margin: 0 auto;
}

.marketplace-title {
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 20px;
}

.marketplace-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.marketplace-list .marketplaces-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 15px;
  height: 90px;
  background-color: #fff;
  border: 2px solid #e4e3df;
  border-radius: 4px
}

.marketplace-list .marketplaces-item.disabled {
  background: #f9f6f2
}

.marketplace-list .marketplaces-item:last-child {
  margin-bottom: 0
}

.marketplace-list .marketplaces-item .left,
.marketplace-list .marketplaces-item .right {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.marketplace-list .marketplaces-item .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.marketplace-list .marketplaces-item .label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #147a04;
  background: rgba(20, 122, 4, .3);
  border-radius: 4px;
  padding: 3px 7px;
  margin-left: 15px;
}

.marketplace-list .marketplaces-item button,.marketplace-list .marketplaces-item button a {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.marketplace-list .marketplaces-item .connect-btn {
  margin: 5px;
  background-color: #fff;
  color: #1d190f;
  border: 2px solid #e4e3df;
  transition: all .3s linear 0s;
  width: 105px;
  min-width: 105px;
}
.marketplace-list .marketplaces-item .disconnect-btn {
  background-color: #fe4f15;
  color: #fff;
  width: 105px;
  min-width: 105px;
}

.marketplace-list .marketplaces-item .disconnect-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #95938f
}
